@inject NavigationManager Nav
@inject MyAppBlazorThomas.Services.CompteService CompteService

<div class="menu-nav">
    <ul class="nav flex-row">
            <li>
                <NavLink class="nav-link" href="kaamelott">Kaamelott</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="kaamelott-favori">Mes favoris</NavLink>
            </li>
            @if (CompteService.EstConnecte)
            {
                <li>
                    <button class="nav-link" @onclick="Logout">Déconnexion</button>
                </li>
            }
    </ul>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CompteService.InitialiserAsync();
    }

    private async Task Logout()
    {
        await CompteService.DeconnexionAsync();
        Nav.NavigateTo("/login");
    }
}
